<p>
  <strong>Emp_Id:</strong>
  <%= @employee.id %>
</p>
<p>
  <strong>First_Name:</strong>
  <%= @employee.fname %>
</p>
<p>
  <strong>Last_Name:</strong>
  <%= @employee.lname %>
</p>
<p>
  <strong>Date_of_Birth:</strong>
  <%= @employee.dob %>
</p>
<p>
  <strong>Joining_Date:</strong>
  <%= @employee.hdate %>
</p>
<p>
  <strong>Email_id:</strong>
  <%= @employee.email %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>
<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>
<p>
  <strong>Department:</strong>
  <%= @employee.dept %>
</p>

<%= link_to 'Back', employees_path %>
